body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
/* header */

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}
.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

/* Meme */

.meme {
  margin: 2rem auto;
  padding: 0 3rem;
  text-align: center;
  position: relative;
}
.meme input {
  width: 330px;
  height: 45px;
  top: 101px;
  left: 36px;
  border-radius: 5px;
  border: 1px #b7b6b9 solid;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  margin-left: 1rem;
  color: #0d0d0d;
}
.meme button {
  width: 695px;
  height: 50px;
  top: 101px;
  left: 36px;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
}
.meme--image {
  max-width: 100%;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  /* margin: 15px 0; */
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 1rem;
  margin: 0;
}

.top {
  margin: 0;
  top: 1rem;
}
